In [1]:
import os
os.chdir("../data/raw")
os.getcwd()

'/root/restaurants/data/raw'

In [2]:
import pandas as pd
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit, cross_val_score, cross_validate
from sklearn.dummy import DummyRegressor

In [3]:
air_visit_data = pd.read_csv("air_visit_data.csv")
# air_visit_data['visit_date'] = pd.to_datetime(air_visit_data['visit_date'])

In [4]:
data = air_visit_data.where(air_visit_data["air_store_id"] == "air_ba937bf13d40fb24").dropna().reset_index(drop = True)
data = data.drop(columns=["air_store_id"])
data

     visit_date  visitors
0    2016-01-13      25.0
1    2016-01-14      32.0
2    2016-01-15      29.0
3    2016-01-16      22.0
4    2016-01-18       6.0
..          ...       ...
386  2017-04-18      11.0
387  2017-04-19      11.0
388  2017-04-20      14.0
389  2017-04-21      40.0
390  2017-04-22      23.0

[391 rows x 2 columns]

In [5]:
X = data[["visit_date"]]
y = data[["visitors"]]

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit, cross_val_score
from sklearn import svm
from sklearn.metrics import root_mean_squared_log_error
from copy import deepcopy

In [7]:
from eval import my_nested_cv

In [8]:
from prophet import Prophet
import logging
logging.getLogger("prophet").setLevel(logging.ERROR)
logging.getLogger("cmdstanpy").disabled=True

In [9]:
reg = Prophet

param_grid = {  
    'changepoint_prior_scale': [0.001, 0.01, 0.1, 0.5],
    'seasonality_prior_scale': [0.01, 0.1, 1.0, 10.0],
}

my_nested_cv(reg, X, y, param_grid)

NestedCV: 1 of outer fold 5
Score: 0.5590467271383507

NestedCV: 2 of outer fold 5
Score: 0.5696546826206523

NestedCV: 3 of outer fold 5
Score: 0.3571747724269832

NestedCV: 4 of outer fold 5
Score: 0.49526026387310573

NestedCV: 5 of outer fold 5
Score: 0.3881454795816534

Overall test performance: 0.4738563851281491

In [10]:
reg = DummyRegressor

p_grid = {"strategy": ["mean", "median"]}

my_nested_cv(reg, X, y, p_grid)

NestedCV: 1 of outer fold 5
Score: 0.7774891990598184

NestedCV: 2 of outer fold 5
Score: 0.6801533092102668

NestedCV: 3 of outer fold 5
Score: 0.8549704479338557

NestedCV: 4 of outer fold 5
Score: 0.8783354107953781

NestedCV: 5 of outer fold 5
Score: 0.826168015493569

Overall test performance: 0.8034232764985776